@layer components {
  .navbar,
  .navbar-menu,
  .navbar-start,
  .navbar-end {
    @apply font-avantGardeRegular lg:flex lg:items-stretch;
  }

  .navbar {
    @apply font-avantGardeRegular top-0 left-0 right-0 fixed flex bg-white h-14 border-b border-gray-100 z-30 w-screen transition-all
    lg:pl-64 lg:w-auto;
  }

  .navbar-brand {
    @apply font-avantGardeRegular flex-1 items-stretch	flex h-14;
  }

  .navbar-brand.is-right {
    @apply font-avantGardeRegular flex-none lg:hidden;
  }

  .navbar-brand .navbar-item {
    @apply font-avantGardeRegular items-center flex;
  }

  .navbar-item,
  .navbar-link {
    @apply font-avantGardeRegular block py-2 px-3;
  }

  .navbar-item {
    @apply font-avantGardeRegular flex-grow-0 flex-shrink-0 relative lg:flex lg:items-center text-sm;
  }

  .navbar-item.mobile-aside-button {
    @apply font-avantGardeRegular lg:hidden;
  }

  .navbar-item.has-divider {
    @apply font-avantGardeRegular lg:border-r lg:border-gray-100;
  }

  .navbar-item > .navbar-link {
    @apply font-avantGardeRegular bg-gray-100 lg:bg-transparent;
  }

  .navbar-item .icon + span {
    @apply font-avantGardeRegular ml-2;
  }

  .navbar-item.has-user-avatar > .navbar-link {
    @apply font-avantGardeRegular flex items-center;
  }

  .navbar-item.has-user-avatar .user-avatar {
    @apply font-avantGardeRegular w-6 h-6 mr-3 inline-flex;
  }

  .navbar-item.dropdown {
    @apply font-avantGardeRegular p-0 lg:py-2 lg:px-3;
  }

  .navbar-item.dropdown > .navbar-link .icon:last-child {
    @apply font-avantGardeRegular hidden lg:inline-flex;
  }

  .navbar-item.desktop-icon-only {
    @apply font-avantGardeRegular lg:w-16 lg:justify-center;
  }

  .navbar-item.desktop-icon-only span:last-child {
    @apply font-avantGardeRegular lg:hidden;
  }

  .navbar-item .input {
    @apply font-avantGardeRegular border-0;
  }

  .navbar-menu {
    max-height: calc(100vh - 3.5rem);
    @apply font-avantGardeRegular hidden absolute w-screen top-14 left-0 bg-white border-b border-gray-100 overflow-auto shadow
    lg:flex lg:flex-grow lg:static lg:border-b-0 lg:overflow-visible lg:shadow-none;
  }

  .navbar-menu.active {
    @apply font-avantGardeRegular block;
  }

  .navbar-end {
    @apply font-avantGardeRegular lg:justify-end lg:ml-auto;
  }

  .navbar-item .navbar-dropdown {
    @apply font-avantGardeRegular text-sm lg:border-gray-200 lg:border-t-2
    lg:bg-white lg:absolute lg:top-full lg:left-0 lg:min-w-full lg:z-20 lg:shadow-md lg:rounded-b  w-56;
  }

  .navbar-item:not(.active) .navbar-dropdown {
    @apply font-avantGardeRegular lg:hidden;
  }

  .navbar-item.active:not(.dropdown),
  .navbar-item.active.dropdown > .navbar-link {
    @apply font-avantGardeRegular text-emerald-500;
  }

  .navbar-item .navbar-dropdown .navbar-item:hover {
    @apply text-emerald-500;
  }
}
